@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./color.css";

@layer components {
  .bg-grid-pattern {
    @apply pointer-events-none fixed inset-0 select-none opacity-50;
    background-image:
      repeating-linear-gradient(to right, var(--color-grid) 0 1px, transparent 1px 8px),
      repeating-linear-gradient(to bottom, var(--color-grid) 0 1px, transparent 1px 8px);
  }

  .bg-radial-glow {
    @apply pointer-events-none fixed top-0 block h-[600px] w-full select-none;
    background: radial-gradient(103.72% 46.58% at 50% 0%, var(--color-glow) 0%, rgba(0,0,0,0) 100%);
  }

  .bg-page-container {
    @apply w-full;
    background-color: var(--color-page);
    @apply ring-1 ring-stone-500/50;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  40%,
  60% {
    transform: rotate(15deg);
  }

  80% {
    transform: rotate(-15deg);
  }
}

@media print {
  @page {
    size: 210mm 297mm;
    margin-top: 1cm;
    margin-bottom: 0.5cm;
  }
}
