@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  40%,
  60% {
    transform: rotate(15deg);
  }

  80% {
    transform: rotate(-15deg);
  }
}

@media print {
  /* section ul li {
    font-size: 10pt;
  } */
  @page:first {
    margin-top: 0cm;
  }
  @page {
    size: 210mm 297mm;
    margin-top: 1cm;
    /* 你可以加其他 margin 设置，比如 margin-left/right/bottom */
  }

  section {
    break-inside: avoid;
    page-break-inside: avoid; /* 兼容老浏览器 */
  }
}
